.owl-theme .owl-controls {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
	position: absolute;
	text-indent: -10000px;
	font-size: 14px;
	margin: -20px 0 0 0;
	background: rgba(255, 255, 255, 0.3);
	opacity: 0;
	display: block;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 30px;
	height: 50px;
	top: 50%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:before{
	font-family: 'FontAwesome';
	width: 30px;
	height: 50px;
	font-size: 28px;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before{
	color: #333;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background: rgba(255, 255, 255, 0.9);
	color: #333;
	text-decoration: none;
}
.owl-theme:hover .owl-controls .owl-nav [class*=owl-] {
	opacity: 1;
}
.owl-theme .owl-controls .owl-nav .disabled {
	opacity: .5;
	cursor: default;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 5px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #4a4e51;
}
/* custom css styles for carousel */
.owl-nav .owl-prev {
	left: 0px;
}
.owl-nav .owl-next {
	right: 0px;
}
.owl-nav .owl-prev:before {
	left: -40px;
	content: "\f104";
}
.owl-nav .owl-next:before {
	right: -40px;
	content: "\f105";
}
.owl-theme:hover .owl-nav .owl-prev {
	left: -15px;
}
.owl-theme:hover .owl-nav .owl-next {
	right: -15px;
}