@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


body {
    background: white;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 65%; }

* h2 {
    font-size: 2.2rem;
margin: 0}

* p {
    font-size: 2rem; }
ul {
    list-style: none;
}

*:hover {
    transition: 1s; }

.about {
    background: white;
    padding: 5% 0; }
.about__heading {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2em;
    /*font-family: "Roboto",sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3599b9;
    padding: 0 5% 1%;
    z-index: 1; }
.about__text {
    font-weight: 300;
    line-height: 1.3em;
    /*font-family: "Roboto",sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7d8182;
    padding: 0 9%; }

hr {
    width: 80%;
    margin: 4% auto; }

.about__image {
    width: 90%;
    height: auto;
    border-radius: 6px;
    max-height: 300px;
    overflow: hidden;
    margin: 0 auto; }

.owl-carousel {
    width: 80%;
    margin: 0 auto; }

.item {
    text-align: center;
    padding: 20px;
    /*border-radius: 9px;*/
    /*background: rgba(185, 185, 185, 0.2);*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    height: 550px;
    margin: 5px 20px;
    background: #FFF;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;}
.item__heading {
    text-transform: uppercase;
    color: #3599b9;
    padding-bottom: 10px;
}

.owl-dots {
    margin: 35px;
}
.owl-prev {
    background: grey;
    left:0;
}

.about_wrapper {
    width: 100%;
    padding-top: 20px; }

.column-text {
    width: 90%;
    margin: 0 auto;
    display: block;

    /*font-family: "Roboto", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;

font-size: 1.6rem;
    color: #999;
    line-height: 26px;
    font-weight: 200
}

.fa-circle {
    font-size: 12px;
    vertical-align: middle;
    color: #3599b9;
    padding-right: 10px;}

.fa-minus {
    color: #3599b9; }

.wedo {
    background: url("../img/gallery/gallery_01.jpg") no-repeat;
    background-size: cover;
    padding: 5% 0;
    text-align: center;
}

.wedo__bg {
    background: rgba(255, 255, 255, 0.81);
    border-radius: 6px;
    padding: 2% 0;

}
.wedo__heading {
    /*font-family: "Roboto",sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
margin: 3% auto;
    color: #3599b9;
}
.wedo__text {
    /*font-family: "Roboto",sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*text-align: left;*/
text-align: justify;
    font-size: 1.6rem;
    color: #6f6f6f;
    font-weight: 200;}

.wedo_wrapper {
    vertical-align: text-top;
    padding: 0 2%;
    /*margin-bottom: 5%;*/
    }


.readytouse {

    padding: 5% 0;
    background-color: #645862;
    background-image: url(../img/light-tl.svg), url(../img/light-tr.svg), url(../img/overlay.png), url(../img/banner.jpg);
    background-position: top left, top right, top left, bottom center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 50em, 50em, auto, cover;
    color: #fff;
    /*padding: 5em;*/
    text-align: center;
}

.readytouse__heading {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
}

.readytouse__text {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-weight: 100;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5rem 0;

}

.readytouse li {
    width: 49%;
    display: inline-block;
    padding: 0 5em 0 2em;

}

input[type="button"].special, input[type="submit"].special, input[type="reset"].special, .button.special {
    background: #39A6CA;
    border-color: #39A6CA;
    color: #fff !important;
    border-radius: 2px;
    float: right;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    color: inherit;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 2px;

    font-weight: 900;
float: left;
    min-width: 18em;
    padding: 1%;
    line-height: 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
}





.appstore {
    padding-bottom: 5%;
    padding-top: 5%; }
.appstore__heading {
    font-weight: 400;
    font-size: 250%;
    line-height: 1.2em;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3599b9;
    margin-top: 0; }
.appstore__desc {
    font-size: 17px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.3em;
    /*font-family: "Roboto",sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7d8182;}
.appstore__link-item {
    display: inline-block; }
.appstore__link-item--top {
    margin-bottom: 10.3%; }
.appstore--alignment {
    text-align: right;
    font-size: 0; }
.appstore--center {
    text-align: center; }

@media only screen and (min-width: 1800px) {
    .appstore--alignment {
        text-align: left; }

    .appstore__link-item--top {
        margin-bottom: 9%; } }
@media only screen and (min-width: 1800px) {
    .appstore--alignment {
        text-align: left; }

    .appstore__link-item--top {
        margin-bottom: 9%; } }
@media only screen and (min-width: 2000px) {
    .appstore--alignment {
        text-align: left; }

    .appstore__link-item--top {
        margin-bottom: 6%; } }
.footer {
    background: rgba(0, 0, 0, 0.95);;
    color: #3599b9;
    padding: 4% 0;
    text-align: center; }

.icons {
    list-style: none;
    margin: 0 0 3% 0;
    padding-left: 0; }
.icons__item {
    display: inline-block; }
.icons__logo {
    text-decoration: none !important;
    position: relative;
    color: #fff !important;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 24px;
    /*height: 45px;*/
    left: 0;
    /*line-height: 45px;*/
    text-align: center;
    text-decoration: none;
    top: 0;
    /*width: 45px; }*/
}
.icons__logo:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    text-transform: none !important; }
.icons__logo--fa-twitter {
    /*background: #70aecd;*/
    color: #fff; }
.icons__logo--fa-twitter:hover {
    /*background: #7fb7d2;*/
    /*top: -5px; */
}
.icons__logo--fa-twitter:before {
    content: "\f099"; }

.footer-menu {
    font-size: 14px;
    line-height: 20px;
    padding-left: 0;
    margin-bottom: 0; }
.footer-menu__item {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 1px white;
    color: white}
.footer-menu__item:first-child {
    margin: 0;
    padding: 0;
    border: 0; }
.footer-menu__link {
    color: white; }

@media screen and (max-width: 736px) {
    .footer-menu__item {
        display: block;
        margin: 3% 0 0 0;
        padding: 0;
        border: 0; } }

/*feautures page*/
.hello-feautures {
    max-height: 650px;
    overflow-y: hidden;
}

.hello-feautures-img {
   height: auto;
    overflow-y: hidden;
    width: 100%;
}
.main-features {
    padding-bottom: 2%;
    padding-top: 2%; }
.main-features__heading {
    text-align: center;
    text-transform: uppercase;
    color: #3599b9;
    margin-bottom: 30px; }

.icon-boxes {
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 30px; }
.icon-boxes__logo {
    position: absolute;
    top: 0;
    left: 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0); }
.icon-boxes__logo-pic {
    width: 50%; }
.icon-boxes__content {
    margin-left: 70px;
    padding: 0; }
.icon-boxes__content-header {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3599b9;
    text-transform: uppercase; }
.icon-boxes__content-text {
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    color: #999;
    line-height: 26px;
    font-weight: 200;
}
