/* -------------
----DEFAULT ----
--------------*/
.section-title { 
	background-color: #39A6CA;
}
/* --------------------------------------------------
	Typography
----------------------------------------------------- */
a {
	color: #39A6CA;
}
a:hover, a:active, a:focus {
	color: #39A6CA;
}
.default {
	color: #39A6CA;
}
.header.style2 {
	border-bottom-color: #39A6CA;
}
.header.style4 {
	border-bottom-color: #39A6CA;
}
.header.style6 {
	border-bottom-color: #39A6CA;
}
.header.style6:after {
    background-color: #39A6CA;
}
.divider-strip.colored {
	border-top-color: #39A6CA;
}
.divider-solid.colored {
	border-top-color: #39A6CA;
}
.divider-dashed.colored {
	border-top-color: #39A6CA;
}
.bg-default {
	background-color: #39A6CA;
}
/* --------------------------------------------------
	Paginations
----------------------------------------------------- */
.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:focus {
	background-color: #39A6CA;
}
.pagination > li.active > a {
	background-color: #39A6CA;
}
.pagination > li.active > a:hover,
.pagination > li.active > a:active,
.pagination > li.active > a:focus {
	background-color: #39A6CA;
}
/*pager*/
.pager > li > a:hover,
.pager > li > a:active,
.pager > li > a:focus {
	background-color: #39A6CA;
}
/* --------------------------------------------------
	Modals
----------------------------------------------------- */
.modal .modal-header {
	background-color: #39A6CA;
}
/* --------------------------------------------------
	Progress Bars
----------------------------------------------------- */
.progress-bar-default {
	background-color: #39A6CA;
}
/* --------------------------------------------------
	NAVBAR
----------------------------------------------------- */
.search-cart .cart .items-in-cart {
    background-color: #39A6CA;
}
/* --------------------------------------------------
	Bacgrounds
----------------------------------------------------- */
.color-background {
	background: #39A6CA;
}
/* --------------------------------------------------
	Tabs and Pills
----------------------------------------------------- */
.nav-pills > li.active a {
	background-color: #39A6CA;
}
.nav-pills > li.active a:hover,
.nav-pills > li.active a:active,
.nav-pills > li.active a:focus {
	background-color: #39A6CA;
}
.color-background .nav-tabs > li > a {
	background-color: #3395b5;
}
.color-background .nav-tabs > li.active > a {
	border-bottom-color: #39A6CA;
}
.color-background .nav-tabs > li.active > a:hover,
.color-background .nav-tabs > li.active > a:active,
.color-background .nav-tabs > li.active > a:focus {
	border-bottom-color: #39A6CA;
}
.color-background .nav-pills > li > a:hover,
.color-background .nav-pills > li > a:active,
.color-background .nav-pills > li > a:focus {
	background-color: #3395b5;
}
/* --------------------------------------------------
	Accordions and Tabs
----------------------------------------------------- */
.accordion.style1 .panel .panel-title a,
.toggle.style1 .panel .panel-title a {
	color: #39A6CA;
}
.accordion.style1 .panel .panel-title a:before,
.toggle.style1 .panel .panel-title a:before {
	color: #39A6CA;
}
.accordion.style2 .panel .panel-title a,
.toggle.style2 .panel .panel-title a {
	color: #39A6CA;
}
.accordion.style2 .panel .panel-title a:before,
.toggle.style2 .panel .panel-title a:before {
	color: #39A6CA;
}
.color-background .accordion.style2 .panel .panel-heading,
.color-background .toggle.style2 .panel .panel-heading{
	background-color: #3395b5;
}
/* ------------------
----SOCIAL ICONS ----
-------------------*/
.social-icons li a .fa {
	background-color: #39A6CA;
	border: 1px solid #39A6CA;
}
/*hover*/
.social-icons.hover li a .fa:hover {
	color: #39A6CA;
	border-color: #39A6CA;
}
/*fill hover*/
.social-icons.fill-hover li a .fa:hover {
	background: #39A6CA;
	border-color: #39A6CA;
}
/*border-default*/
.social-icons.border-default li a .fa {
	border-color: #39A6CA;
	color: #39A6CA;
}
/*fill-default-hover*/
.social-icons.fill-default-hover li a .fa:hover {
	color: #39A6CA;
	border: 1px solid #39A6CA;
}
/*social animation effect*/
.hvr-ripple-out:before {
	border-color: #39A6CA;
}
.social-icons.hover .hvr-ripple-out:before {
	border-color: #39A6CA;
}
.social-icons.fill-hover .hvr-ripple-out:before {
	border-color: #39A6CA;
}
.social-icons.border-default .hvr-ripple-out:before {
	border-color: #39A6CA;
}
.social-icons.fill-border-default .hvr-ripple-out:before {
	border-color: #39A6CA;
}
.social-icons.fill-default-hover .hvr-ripple-out:before {
	border-color: #39A6CA;
}
/* ------------------
------Buttons--------
-------------------*/
.btn-default {
	border: 1px solid #3395b5;
	background-color: #39A6CA;
}
.btn-default:hover {
	border-color: #3395b5;
	background-color: #3395b5;
}
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus { 
	border-color: #3395b5; 
	background-color: #3395b5;
}
/*default transparent*/
.btn-default-transparent {
	background-color: transparent;
	border: 1px solid #3395b5;
}
.color-background .btn-default-transparent {
	background-color: transparent;
	border: 1px solid #3395b5;
}
.btn-default-transparent:hover {
	border-color: #3395b5;
	background-color: #3395b5;
}
.btn-default-transparent:focus,
.btn-default-transparent:active,
.btn-default-transparent:active:hover,
.btn-default-transparent.active:hover,
.open > .dropdown-toggle.btn-default-transparent:hover,
.btn-default-transparent:active:focus,
.btn-default-transparent.active:focus,
.open > .dropdown-toggle.btn-default-transparent:focus,
.btn-default-transparent:active.focus,
.btn-default-transparent.active.focus,
.open > .dropdown-toggle.btn-default-transparent.focus {
	border-color: #3395b5;
	background-color: #3395b5;
}
/*animation effect(hvr-radial-in)*/
.btn-default.hvr-radial-in:before {
	background: #3395b5;
}
/*animation effect(hvr-rectangle-in)*/
.btn-default.hvr-rectangle-in:before {
	background: #3395b5;
}
/*animation effect(hvr-shutter-in-horizontal)*/
.btn-default.hvr-shutter-in-horizontal:before {
	background: #3395b5;
}
/*animation effect(hvr-shutter-in-vertical)*/
.btn-default.hvr-shutter-in-vertical:before {
	background: #3395b5;
}
/* ------------------
------WIDGETS--------
-------------------*/
.widget-media .media-body h6 a:hover,
.widget-media .media-body h6 a:active,
.widget-media .media-body h6 a:focus {
	color: #39A6CA;
}
.widget-twitter .tweets ul li a:hover,
.widget-twitter .tweets ul li a:active,
.widget-twitter .tweets ul li a:focus {
	color: #39A6CA;
}
.dark-background .widget-links .nav-pills li a:hover,
.dark-background .widget-links .nav-pills li a:active,
.dark-background .widget-links .nav-pills li a:focus {
	color: #39A6CA;
}
.widget-tags ul li a:hover {
	background-color: #39A6CA;
}
.dark-background .widget-tags ul li a:hover {
	background-color: #39A6CA;
}
.widget-archive-categories li a:hover,
.widget-archive-categories li a:active,
.widget-archive-categories li a:focus {
	color: #39A6CA;
}
/* ------------------
-----PORTFOLIO-------
-------------------*/
.cbp-l-grid-masonry-projects .cbp-l-caption-buttonLeft,
.cbp-l-grid-masonry-projects .cbp-l-caption-buttonRight {
  background-color: #39A6CA;
}
.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight {
  background-color: #39A6CA;
}
.cbp-l-grid-mosaic .cbp-caption-activeWrap {
  background-color: #39A6CA;
  background-color: rgba(154, 89, 181, 0.9);
}
.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  background-color: #39A6CA;
  border-color: #39A6CA;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter {
  background-color: #39A6CA;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
  border-top: 4px solid #39A6CA;
}
.cbp-l-filters-work .cbp-filter-item:hover {
  background: #39A6CA;
}
.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active {
  background: #39A6CA;
}